
.imgeontop{
object-fit:cover;
width: 100%;
height:500px;
z-index:-1;
margin-top:100px;
position: absolute;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hero-containerimg{
    
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(79, 54, 12, 0.391), rgba(79, 54, 12, 0.41));
        margin-top:-98px;

    height:80vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
    object-fit: contain;
}
.hero-containerimg > img {
    margin-top: 100px;
   
}
.hero-containerimg > h1 {
    color :#e5ded2;
    font-size: 20px;
    margin-top:200px;
    @media screen and (max-width: 480px) {
        font-size:20px;
    }
    
}
.textoverlay{
    margin-top: 400px;
    align-items: center;
    align-content: center;
}
.hero-containerimg > p {
    margin:8px;
    margin-bottom:30px;
    color :#e5ded2;
    font-size: 22px;
    letter-spacing: 5px;

   
    

}
@media screen and (max-width: 480px) {
    .hero-containerimg > p {
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
        justify-self:center;
       



   
}}
@media screen and (max-width: 480px) {
    .hero-containerimg > h1 {
       align-items: center;
       justify-self:center;
       margin-top: 30px;
        font-size: 19px;
        letter-spacing: 5px;

}}
@media screen and (max-width: 480px) {
    .hero-containerimg > img {
          
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:150px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
    object-fit: contain;
   
}}
.H1 {
    left:50%;
    right:50%;
    color :#e5ded2;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 35px;
    @media screen and (max-width: 480px) {
        font-size:20px;
    }}
    .H2 {
        left:50%;
        right:50%;
        color :#e5ded2;
        font-size: 35px;
        font-weight: 100;
        font-family: 'Creattion demo';
        letter-spacing: 3px;
        @media screen and (max-width: 480px) {
            font-size:20px;
        }}
.P{
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
        justify-self:center; }
@media screen and (max-width: 480px) {
    .imgeontop{
    width: 480px;
    height: 500px;
    z-index:-1;
    position: absolute;
    
    }
    .hero-containerimg {
        background-image: linear-gradient(to right, rgba(79, 54, 12, 0.391), rgba(79, 54, 12, 0.41));
        align-items: center;
        justify-content: center;
        height:114vh;

    }}
    