.bodyparralax {
    margin: 0;
    font-family: Poppins, sans-serif;
  }
  
  .parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url(./Parallax.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
  }
  .Aboutus{
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
  .Aboutus-box{
    width: 600px;
    height: 400px;
    background-color: #fcffe79a;
    padding-top: 2rem;
    z-index: 3;
  }
  .Aboutus-title{
    font-size: 20px;
    letter-spacing: 2px;

    color :#47311d;
    opacity: 1;

  }
  .Aboutus-signature{
    z-index: 4;
    position: relative;
    color :#47311d;
    opacity: 1;

    font-family: 'Creattion demo';
font-size: 30px; 
margin-top: -30px;
text-decoration:underline;
  }
  .Aboutus >img{
z-index: 0;
position: absolute;
margin-left:-270px;
opacity: 0.3;

   
  }
  .Aboutus-p{
    z-index: 4;
    position: relative;
    opacity: 1;

    font-size: 15px;
    color :#47311d;
    margin: 40px;
    letter-spacing: 1px;
    font-weight: thin;
  }
  .Aboutus-p2{
    z-index: 4;
    position: relative;
    opacity: 1;

    margin-top: 20px;
    font-size: 15px;
    color :#47311d;
    margin: 40px;
    letter-spacing: 1px;
    font-weight: thin;
  }
  .buffer {
    width: 100%;
    min-height: 60vh;
    background-color: var(--color);
  }
  
  .parallax-container2 {
    flex-direction: row;
    flex-wrap: wrap;
  
    padding: 6rem 0;
    background-image: url(./Parallax.jpg);
    gap: 1.6em;
  }
  
 
  
  
  
  
 
  
 
.cardfilieresbox-parralax{
  display: flex;
}











.site__wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.site__info {
  clear: both;
  display: block;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.grid {
  float: none;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;
}
@media screen and (min-width: 40.063em) {
  .grid {
    float: left;
    width: 33.333%;
  }
}
.health{
  margin-left:-20px
}
.cardfiliere__image {
  border-radius: 3px;
  display: block;
  min-height: 240px;
  overflow: hidden;
  position: relative;
}
.cardfiliere__image > img {
  display: block;
  margin-bottom: 0;
  transition: all 0.25s ease-in-out;
}
.cardfiliere__image:hover > img {
  transform: scale(1.2);
}
.cardfiliere{
  width:400px;
  margin:10px;
  align-items: center;
}
.cardfiliere__titlehealth {
  color: white;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 50%;
  margin-right: 50%;
  letter-spacing: 2px;
  margin-bottom: 4.5em;
  text-decoration:none ;
  transition: all 0.3s ease-out;
  align-self: center;
}
.cardfiliere__titleshop {
  color: white;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 100%;
  margin-right: 50%;
  letter-spacing: 2px;
  margin-bottom: 4.5em;
  text-decoration:none ;
  transition: all 0.3s ease-out;
  align-self: center;
}
.cardfiliere__title {
  color: white;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 2px;
  margin-bottom: 4.5em;
  text-decoration:none ;
  transition: all 0.3s ease-out;
  align-self: center;
}
.cardfiliere__title:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.cardfiliere__titlehealth:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.cardfiliere__titleshop:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}



.cardfiliere__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.cardfiliere__overlay--indigo {
  background-image: linear-gradient(to bottom, rgba(237, 200, 144, 0.425), rgba(128, 134, 130, 0.201));
  z-index: 2;
}

.cardfiliere__overlay--blue {
  background-image: linear-gradient(to bottom, #e3df729d, rgba(20, 26, 21, 0.126));
  z-index: 2;
}

.cardfiliere__overlay--green {
  background-image: linear-gradient(to bottom, rgba(39, 177, 136, 0.418), rgba(20, 26, 21, 0.493));
  z-index: 2;
}


.cardfiliere__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
}

.cardfiliere__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;
}
.cardfiliere__meta.cardfiliere__meta--last {
  margin-bottom: 0;
}
.cardfiliere__meta li {
  color: #f8f8f8;
  display: inline;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 1em;
  font-size: 0.85em;
  font-variant: small-caps;
  letter-spacing: 1px;
}
.cardfiliere__meta li:not(:last-child):after {
  content: "â—";
  font-style: normal;
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  right: -0.6em;
}
.cardfiliere__meta li > a {
  color: #f8f8f8;
}