.containerdetail {
    position: relative;
    margin: auto;
    margin-left: 340px;
    margin-top: 120px;
    margin-bottom: 80px;
    overflow: hidden;
    width: 820px;
    height: auto;
    background: #F5F5F5;
    box-shadow: 5px 5px 15px rgba(151, 139, 97, 0.5);
    border-radius: 10px;
    
  }

  .bodyd{
    background-color: black;
  }
  .pdetail {
    font-size: 0.9em;
    color: #BA7E7E;
    letter-spacing: 1px;
  }
  
  .h1detail {
    font-size: 1.2em;
    color: #4E4E4E;
    margin-top: -5px;
    text-align: justify;

  }
  
  .h2detail {
    color: #C3A1A0;
    margin-top: -5px;
  }
 .stock{
  color: #C3A1A0;
font-size: 0.9rem;
 }
  .imgdetail {
    width: 390px;
    margin-top: 47px;
    margin-bottom: 47px;
    max-height: 400px;

    margin-left: 30px;
  }
  .buttons {
    bottom: -250px ;
    position: relative;
    margin-top: -250px;
  }
  .slideshow-buttons {
    top: 70%;
    display: none;
  }
  #FCFFE7 
   #E0D8B0
  .one, .two, .three, .four {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FCFFE7 ;
  }
  
  .one {
    left: 22%;
  }
  
  .two {
    left: 27%;
  }
  
  .three {
    left: 32%;
  }
  
  .four {
    left: 37%;
  }
  
  .product1 {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 55%;
  }
  
  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4E4E4E;
    font-size: 1em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
  }
  
  button {
    background:  #E0D8B0;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
  }
  button:hover {
    background:  #5a4a2c;
    transition: all 0.4s ease-in-out;
  }
  
  .add {
    width: 67%;
  }
  
  .like {
    width: 22%;
  }
  
  .sizes {
    display: grid;
    color: #D9AAB7;
    grid-template-columns: repeat(auto-fill, 30px);
    width: 60%;


    grid-gap: 4px;
    margin-left: 20px;
    margin-top: 5px;
  }
  .disabled-button {
    background: #ccc;
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
  }
  .sizes:hover {
    cursor: pointer;
  }
  
  .pick {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  
  .size {
    padding: 9px;
    border: 1px solid #E0C9CB;
    font-size: 0.7em;
    text-align: center;
  }
  .size:hover {
    background: #BA7E7E;
    color: #F5F5F5;
    transition: all 0.4s ease-in-out;
  }
  
  .focus {
    background: #BA7E7E;
    color: #F5F5F5;
  }
  
  
 