.products{
    width:100%;
    background-color: #3c3f30;
        /*  this is where the magic happens:  
background-image: url("./backgrounDd.png");*/
    
    height: 650px;
    align-content: center;
  align-items: center;
  overflow-y: hidden;
}


.listofproducts{
margin-left: 30px;
display: flex;
align-content: center;
align-items: center;
}

  
 
  
  
  
  /* -- YouTube Link Styles -- */
  
  
  
  
  

 
  .paragraph2-light{
    
      left:50%;
      right:50%;
      margin-top: -20px;
      color : #FCFFE7;;
      font-size: 35px;
      font-weight: 100;
      font-family: 'Creattion demo';
      letter-spacing: 3px;
      @media screen and (max-width: 480px) {
          font-size:20px;
      }
  }
  
  
  
  .SectionTitle-light{
    margin-top: 70px;
    color : #FCFFE7;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
    @media screen and (max-width: 480px) {
        font-size:20px;
    }} 
    