.shopcontainer{
    margin-top: 200px;
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    max-width: 1900px;
  top: 50%;
  left: 50%;
}
.containerdetail {
  position: relative;
  margin: auto;
  margin-left: 450px;
  margin-top: 120px;
  margin-bottom: 80px;
  overflow: hidden;
  width: 800px;
  height: auto;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(151, 139, 97, 0.5);
  border-radius: 10px;
  
}

.msg {
  position: relative;
  margin: auto;
  margin-left: 350px;
  margin-top: 120px;
  margin-bottom: 80px;
  overflow: hidden;
  width: 400px;
  height: auto;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(151, 139, 97, 0.5);

  
}
.img {
  width: 390px;
  margin-top: 47px;
  margin-bottom: 47px;
  max-height: 400px;
  margin-left: 30px;
}