.nav-colored { background-color:#000 !important;}
.nav-transparent { background-color:transparent;}
@media (max-width: 767px) {
  .bm-burger-bars {
    background: #d9d3bc7b !important;

  }
}
.NavbarItems{
    
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;
    left: 100%;
    z-index:2;

}
.navlinkmargin{
   
   margin-left: 700px;
}
.navlink9rib{
    color : #e0d4cc;
    text-decoration: none;
}
.margin{
    margin-left: 1000px;
}

.navbar-logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.fa-react {
    margin-left: 0.5rem;
    font-size:1.6rem;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:40px ;
    list-style: none;
    text-align: center;
    max-width :100vw;
    justify-content: end;
    margin-left:100px;


}



.nav_links {
   color : #e0d4cc;
   text-decoration: none;
   padding: 3rem 1rem; 
   margin: 10px;
}
.nav_links:hover {
   color : #dac6bd7e;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}


.fa_bars {
    color:rgb(128, 22, 22);
}
.nav_links-mobile{
    display:none;
}
.menu-icon {
    display:none;
}@media screen and (max-width:960px) {
    .NavbarItems {
        position:absolute;
        background-color: #695A53;
    }
    .nav-menu  {
        display:flex;
        flex-direction:column;
        width:100%;
        height:100px;
        position: absolute;
        top: 80px;
        align-self: center;
        opacity:3;
        transition: all 0.5s ease;
        }
    .nav-menu.active {
        background : #695A53;
        left: 0;
        opacity:1;
        transition: all 0.5s ease;
        z-index:1;
    }
    .nav-links {
        text-align:center;
        padding:2rem;
        width:100%;
        display:table;


    }
    .nav-links:hover{
        background-color: #e89972;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%,50%);   
    }
    .menu-icon{
        position: relative;
        z-index:10;
        top: 0;
        right: 0;
        transform: translate(100%,50%);   
        font-size: 3rem;
        cursor:pointer;
    }
    }


    .bm-burger-button {
        position: absolute;
            width: 36px;
            height: 30px;
            left: 36px;
            top: 36px;
            z-index: 50;
      }
      
      
      /* Color/shape of burger icon bars */
     
    
      /* Color/shape of burger icon bars on hover*/
      .bm-burger-bars-hover {
        display: none !important;
            }
      
      /* Position and sizing of clickable cross button */
      .bm-cross-button {
        height: 24px;
        width: 24px;
      }
      
      /* Color/shape of close button cross */
      .bm-cross {
        background: #FCFFE7;
      }
      
      /*
      Sidebar wrapper styles
      Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
      */
      .bm-menu-wrap {
        position: fixed;
        height: 110%;
      }
    
      /* General sidebar styles */
      .bm-menu {
        background: #685e496a;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
        color:#373a471f
      }
      
      /* Morph shape necessary with bubble or elastic */
      .bm-morph-shape {
        fill: #FCFFE7
      }
      
      /* Wrapper for item list */
      .bm-item-list {
        color: #FCFFE7;
        padding: 1em;
      }
      
      /* Individual item */
      .bm-item {
        display: inline-block;
      }
      
      /* Styling of overlay */
      .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }
      .menu-item{
        color: #FCFFE7;
        text-decoration: none;
        margin: 15px;
      }
      .menu-item :hover{
        color: rebeccapurple !important;
        text-decoration: none !important;

      }


    

