

.crowd-funding {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 550px;
  max-height: 1000px;
  box-shadow: 0px 2px 4px hsla(0deg, 0%, 0%, 0.18);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.27);
  border-radius: 3px;
}
.crowd-funding__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 55%;
  min-height: 300px;
  padding: 20px 30px;
  background: linear-gradient(rgba(18, 42, 35, 0.251), rgba(206, 198, 199, 0)), url("./crowdfunding.jpg");
  background: linear-gradient(rgba(18, 42, 35, 0.251), rgba(206, 198, 199, 0)), url("./crowdfunding2.jpg");
  background-size: cover;
  background-position: center;
  color: #fdfafa;
  border-radius: 3px 3px 0 0;
}
.crowd-funding__header h1 {
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 7px;
  padding: 0;
  line-height: 50px;
  opacity: 0.9;
}
.crowd-funding__header p {
  font-size: 16px;
  opacity: 0.8;
  margin: 0 0 3px 0;
  padding: 0;
  line-height: 18px;
}
.crowd-funding__header .hashtags {
  opacity: 0.8;
  font-size: 10px;
  margin-top: 5px;
}
.crowd-funding__header__description {
  width: 40%;
}
.crowd-funding__header__details {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.crowd-funding__header__details .days-to-go {
  margin-top: 5px;
  margin-bottom: 5px;
}
.crowd-funding__header__details .funding-counter {
  display: flex;
  flex-direction: column;
}
.crowd-funding__header__details .funding-counter p {
  opacity: 1;
}
@media (max-width: 523px) {
  .crowd-funding__header__details .funding-counter p {
    font-size: 12px;
  }
}
.crowd-funding__header__details .funding-counter__bar {
  width: 100%;
  height: 5px;
  border: 1px solid #fff;
  margin-top: 3px;
  background: linear-gradient(to right, #fff 40%, transparent 40%);
  border-radius: 1px;
}
.crowd-funding__main {
  display: flex;
  justify-content: space-between;
  height: 45%;
  min-height: 250px;
  padding: 20px 30px;
  background: #fdfafa;
  color: #47311d;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.crowd-funding__main h4 {
  margin: 0 0 10px 0;
}
.crowd-funding__main .content {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
  line-height: 16px;
}
.crowd-funding__main__col {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.crowd-funding__main__col .icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.crowd-funding__main__col .button:hover {
  background: #fdfafa;
  color: #47311d;
}
.crowd-funding__main__col ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}
.crowd-funding__main__col ul li {
  position: relative;
  padding-left: 15px;
}
.crowd-funding__main__col ul .list-content {
  font-size: 12px;
  font-weight: 300;
  margin: 7px 0;
}
.crowd-funding__main__col ul li::before {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #47311d;
}

.arrow {
  position: absolute;
  content: "";
  top: calc(50% - 10px);
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  transition: all 200ms;
  cursor: pointer;
}

.arrow-right {
  right: -40px;
  border-top: 2px solid #47311f;
  border-right: 2px solid #47311d;
}
.arrow-right:hover {
  right: -43px;
}

.arrow-left {
  left: -40px;
  border-bottom: 2px solid #47311d;
  border-left: 2px solid #47311d;
}
.arrow-left:hover {
  left: -43px;
}

.inspired-by {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 800px;
}
.inspired-by a {
  font-size: 14px;
  padding: 3px 0;
  text-decoration: none;
  color: #47311d;
  opacity: 0.8;
}
.inspired-by a.second-link {
  margin-left: 3px;
}