
  
  .containerproduit {
    width: 300px;
    height: 400px;
    position: relative;
    margin:30px;
    background: url("./produit1.jpg");
    background-color: black;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(167, 158, 139, 0.409);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.5s;
  }
   

  .items {
    padding-left: 20px;
    letter-spacing: 3px;
  }
  
  .head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
  }
  .head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #FEF5DF;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 0.5s;
  }
  
  .price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
  }
  .price .old {
    text-decoration: line-through;
    color: #b3b3b3;
  }
  
  .cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
  }
  .cart i {
    font-size: 16px;
  }
  .cart span {
    margin-left: 10px;
  }
  
  .containerproduit:hover .overlay {
    opacity: 1;
  }
  .containerproduit:hover .overlay .head {
    transform: translateY(0px);
  }
  .containerproduit:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  .containerproduit:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  .containerproduit:hover .overlay .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }